<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-lazy-init="true"
        >
<!--    <context:property-placeholder location="classpath:/*.properties" ignore-resource-not-found="true" ignore-unresolvable="true" local-override="true"/>-->
    <!-- 添加注解驱动 -->
    <mvc:annotation-driven />
    <context:component-scan base-package="com.haiqiu.web" />
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views" />
		<property name="suffix" value=".jsp" />
	</bean>

    <mvc:interceptors>
        <bean id="MyInterceptor" class="com.haiqiu.interceptor.MyInterceptor"></bean>
        <bean id="MyInterceptor2" class="com.haiqiu.interceptor.MyInterceptor2"></bean>
        <bean id="MyInterceptor3" class="com.haiqiu.interceptor.MyInterceptor3"></bean>
    </mvc:interceptors>

    <!-- 文件上传 -->
    <!--
     首 先，DispatcherServlet必须找到一个文件上传解析器的实例，使用这个实例来检查本次请求的HttpServletRequest是否是一 个分段文件上传的Request,通过下面的Spring 源码可以看到，
     首先必须保证有一个MultipartResolver的实例，并且由该类的Resolver的isMultipart方法来验证，
     本次 Request是否为文件上传的Request.如果以上条件都满足，那么Spring将其转换为一个继承自HttpServletRequest的 MultipartHttpServletRequest返回，
     这样在你的Controller中就可以使用这个经过转换的request，从中取到 MultipartFile信息。

     -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
        <property name="maxUploadSize">
            <value>32505856</value><!--上传文件大小限制为31M，31*1024*1024  -->
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
    </bean>

</beans>